html,body
{
  height: 100%;
  width: 100%;
  padding : 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}


.container
{
  margin: auto;
  width: 100%;
  height: 10%;
  background: #35424a;
  display: flex;
}


.container ul
{
  width: 70%;
  height: 100%;
  margin: auto;
  list-style: none;
}

.container li
{
  padding:  15px;
  float: right;
  height: 100%;
}

.container a
{
  display: block;
  text-decoration: none;
  color: white;
  background: #ff8000;
  text-align: center;
  padding: 10px 20px;
  border-radius: 3px;
}

.item:hover
{
  background: #ff8533;
}

.heading
{
  font-size: 60px;
}

.middle
{
  display: flex;
  width: 100%;
  height: 85%;
  background: #ffa64d;
}

.middle h1
{
  margin: auto;
  font-size: 50px;
}

.foot
{
  width: 100%;
  height: 5%;
  display: flex;
  background: #6666ff;
}

.foot p
{
  margin: auto;
}


.alert1
{
  margin: auto;
  width: 60%;
  height: 30px;
  padding-left: 15px;
  padding-top: 10px;
  background: #99ffcc;
  color:green;
  border: 2px solid green;
  border-radius: 4px;
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.alert2
{
  margin: auto;
  width: 60%;
  height: 30px;
  padding-left: 15px;
  padding-top: 10px;
  background: #ff9999;
  color:red;
  border: 2px solid red;
  border-radius: 4px;
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.out_alert
{
  width: 100%;
  position: absolute;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        border: none;
        background:#35424a;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        border: none;
        background:#35424a ;
    }
}


@media only screen and (max-width: 1200px)
{
  .container ul
  {
    width: 100%;
  }
}
